/* src/components/Home.css */

/* Стили для первой страницы */
.container {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    text-align: center; 
    width: 100%; /* Задаем ширину контейнера */
    max-width: 600px; /* Ограничиваем максимальную ширину */
    margin: auto; /* Центрируем контейнер на странице */
    margin-top: 50px; /* Отступ сверху */
}

h1 {
    color: #333; 
    margin-bottom: 20px; 
    font-size: 2rem; /* Увеличиваем размер заголовка */
}

h2 {
    color: #555; 
    margin: 20px 0; /* Отступ для заголовка авторизации */
}

.auth-input {
    width: 100%; /* Задаем ширину в 100% для ввода */
    padding: 10px; /* Добавляем внутренние отступы */
    margin-top: 10px; /* Отступ сверху для поля ввода */
    margin-bottom: 20px; /* Отступ снизу для поля ввода */
    border: 1px solid #ccc; /* Рамка для поля ввода */
    border-radius: 5px; /* Скругление углов */
    font-size: 16px; /* Размер шрифта */
    transition: border-color 0.3s; /* Плавный переход для рамки */
    box-sizing: border-box; /* Учитываем рамку и отступы в ширине элемента */
}

.auth-input:focus {
    border-color: #31649b; /* Изменяем цвет рамки при фокусе */
    outline: none; /* Убираем стандартный контур */
}

.auth-button {
    background-color: #31649b; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    padding: 12px 20px; 
    font-size: 16px;
    cursor: pointer; 
    width: 100%; /* Задаем ширину в 100% для кнопок */
    transition: background-color 0.3s; 
    margin-top: 10px; /* Добавляем отступ между кнопками */
}

.auth-button:hover {
    background-color: #2e5e92; 
}