/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dashboard-container {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    text-align: left; /* Выравнивание текста по левому краю */
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    margin-top: 50px; 
}

/* Заголовок */
h2 {
    color: #555; 
    margin: 20px 0; 
    font-weight: bold; /* Жирный шрифт для заголовка */
}

/* Стили для полей ввода */
.input-field {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #31649b; 
    border-radius: 5px; 
    font-size: 16px; 
    box-sizing: border-box; 
    margin-top: 10px; /* Отступ сверху */
    transition: border-color 0.3s; 
}

.input-field:focus {
    outline: none; 
    border-color: #2e5e92; 
}

/* Кнопки */
.logout-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px 15px;
    background-color: #ffffff; 
    border: 1px solid #31649b; 
    border-radius: 5px;
    color: #31649b; 
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    width: 100%; 
    box-sizing: border-box;
    flex: 1; /* Заставляет кнопки занимать равное пространство */
    margin: 0 5px; /* Убираем расстояние между кнопками */
}

.logout-button:hover {
    background-color: #31649b; 
    color: #ffffff;
    transform: translateY(-2px); 
}

/* Группировка кнопок */

.button-group {
    display: flex;
    justify-content: space-between; /* Разделение кнопок */
    margin-top: 10px; /* Отступ сверху, если нужен */
}

/* Сообщение об ошибке */
.error-message {
    color: red; 
    margin-top: 20px; 
    font-size: 0.9rem; 
}