/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    text-align: center; 
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    margin-top: 50px; 
}

h1 {
    color: #333; 
    margin-bottom: 20px; 
    font-size: 2rem; 
}

h2 {
    color: #555; 
    margin: 20px 0; 
}

/* Кнопка "Войти" */
.login-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 20px 0; 
    padding: 10px 15px;
    background-color: #31649b; 
    border: none; 
    border-radius: 5px;
    color: #ffffff; 
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s;
    width: 100%; 
    box-sizing: border-box;
    cursor: pointer;
}

.login-button:hover {
    background-color: #2e5e92; 
    transform: translateY(-2px); 
}

/* Описание приложения */
.description {
    color: #666;
    font-size: 1rem;
    margin-bottom: 20px;
}

.welcome-gif {
    width: 40px;
    height: auto; 
    margin-right: 15px; 
    vertical-align: middle; 
}