/* Общие стили для страницы */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #ffffff; 
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    padding: 40px;
    text-align: center; 
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
    margin-top: 50px; 
}

h1 {
    color: #333; 
    margin-bottom: 20px; 
    font-size: 2rem; 
}

h2 {
    color: #555; 
    margin: 20px 0; 
}

/* Социальные кнопки */
.social-button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    margin: 5px 0; 
    padding: 10px 15px;
    background-color: #ffffff; 
    border: 1px solid #31649b; 
    border-radius: 5px;
    color: #31649b; 
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s, transform 0.2s;
    width: 100%; 
    box-sizing: border-box;
}

.social-button:hover {
    background-color: #31649b; 
    color: #ffffff;
    transform: translateY(-2px); 
}

/* Стили для ввода кода */
.input-code {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #31649b; 
    border-radius: 5px; 
    font-size: 16px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 20px; 
    transition: border-color 0.3s; 
}

.input-code:focus {
    outline: none; 
    border-color: #2e5e92; 
}

/* Стили для текста регистрации */
.registration-message {
    margin-top: 20px; 
    font-size: 0.9rem; 
    color: #666; 
}

.registration-message a {
    color: #31649b; 
    text-decoration: none; 
}

.registration-message a:hover {
    text-decoration: underline; 
}

/* Стили для поля ввода кода */
.input-code {
    width: 100%; 
    padding: 10px; 
    border: 1px solid #31649b; 
    border-radius: 5px; 
    font-size: 16px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 20px; 
    transition: border-color 0.3s; 
}

.input-code:focus {
    outline: none; 
    border-color: #2e5e92; 
}